.about-me {
    &__wrap {
        margin-bottom: 91px;
    }
    &__img {
        padding-right: 54px;
    }
    &__second-title {
        line-height: 120px;
        color: $color-dark-text;
    }
    &__description {
        width: 100%;
        max-width: 670px;
        line-height: 50px;
        font-size: 2.4em;
        color: $color-dark-text;
    }
    &__auth {
        line-height: 50px;
        font-size: 3.6em;
        color:  $color-dark-text;
    }
}

.second-title {
    text-transform: uppercase;
    font-size: 6em;
}